replicas: 3
stripePublicKey: "pk_test_51KqWYDCzs86m8hstL4xpe2HwXKfmP3FFInWRnNy8BgWkENg2bZlBN0yhneYjq6MxrbIJgopRx08bdFWcVCS9bK7Y001jajBdQL"
stripeSecretKey: "sk_test_51KqWYDCzs86m8hstb7Ps65B8J1RTBBIFD9yATodFHNzHmLbWdGO0wWNTuGShJI1U2COxSHxOwkyKdw21APDtzwca00EduJRwIH"
stripeWebhookSecret: "whsec_e352997a7bd66a05a85f3d86e540a1d01b22553e716ed0ad0924b4478d56626c"
environment:
  LEGAL_ENABLED: true

# The following configurations are used to initialize the clusters
initClusters:
- name: local
  url: "http://drycc.{{global.workflowDomain}}"
  key: {{controller.workflowManagerAccessKey}}
  secret: {{controller.workflowManagerSecretKey}}

redis:
  replicas: 3
  persistence:
    enabled: true # Set to true to enable persistence
    size: 8Gi
    storageClass: "topolvm-ssd"

database:
  limitsMemory: "256Mi"
  limitsHugepages2Mi: "256Mi"
  initDatabases: "manager,passport"
  persistence:
    enabled: true # Set to true to enable persistence
    size: 8Gi # PVC size
    storageClass: "topolvm-ssd"

rabbitmq:
  replicas: 3
  username: drycc
  password: {{64|random_ascii}}
  persistence:
    enabled: true # Set to true to enable persistence
    size: 8Gi # PVC size
    storageClass: "topolvm-ssd"

passport:
  replicas: 3
  adminUsername: {{passport.adminUsername}}
  adminPassword: {{passport.adminPassword}}
  environment:
    ADMIN_ENABLED: True
    REGISTRATION_ENABLED: True
  initApplications:
  - name: "manager"
    key: ""
    secret: ""
    prefix: "drycc-manager"
    redirect_uri: "/v1/complete/drycc/"
  - name: "controller"
    key: {{controller.passportKey}}
    secret: {{controller.passportSecret}}
    prefix: ""
    {%- if global.certManagerEnabled == "true" %}
    redirect_uri: "https://drycc.{{global.workflowDomain}}/v2/complete/drycc/"
    {%- else %}
    redirect_uri: "http://drycc.{{global.workflowDomain}}/v2/complete/drycc/"
    {%- endif %}
  - name: "grafana"
    key: {{monitor.grafana.passportKey}}
    secret: {{monitor.grafana.passportSecret}}
    prefix: ""
    {%- if global.certManagerEnabled == "true" %}
    redirect_uri: "https://drycc-monitor-grafana.{{global.workflowDomain}}/login/generic_oauth"
    {%- else %}
    redirect_uri: "http://drycc-monitor-grafana.{{global.workflowDomain}}/login/generic_oauth"
    {%- endif %}

gateway:
  acme:
    server: {{acme.server}}
    externalAccountBinding:
      keyID: {{acme.externalAccountBinding.keyID}}
      keySecret: {{acme.externalAccountBinding.keySecret}}
  domainPrefixs:
  - drycc-manager
  - drycc-passport

global:
  email: {{global.email}}
  gatewayClass: {{global.gatewayClass}}
  platformDomain: {{global.managerDomain}}
  certManagerEnabled: {{global.certManagerEnabled}}
