builder:
  replicas: 3
  imageRegistry: registry.drycc.cc

database:
  replicas: 3
  imageRegistry: registry.drycc.cc
  limitsMemory: 256Mi
  limitsHugepages2Mi: 256Mi
  initDatabases: "controller"
  persistence:
    enabled: true
    size: 8Gi
    storageClass: topolvm-ssd

fluentbit:
  imageRegistry: registry.drycc.cc

controller:
  apiReplicas: 3
  celeryReplicas: 3
  webhookReplicas: 3
  imageRegistry: registry.drycc.cc
  appRuntimeClass: crun
  appStorageClass: drycc-storage
  {%- if global.certManagerEnabled == "true" %}
  passportUrl: "https://drycc-passport.{{global.managerDomain}}"
  {%- else %}
  passportUrl: "http://drycc-passport.{{global.managerDomain}}"
  {%- endif %}
  passportKey: {{controller.passportKey}}
  passportSecret: {{controller.passportSecret}}
  {%- if global.certManagerEnabled == "true" %}
  workflowManagerUrl: "https://drycc-manager.{{global.managerDomain}}/v1"
  {%- else %}
  workflowManagerUrl: "http://drycc-manager.{{global.managerDomain}}/v1"
  {%- endif %}
  workflowManagerAccessKey: {{controller.workflowManagerAccessKey}}
  workflowManagerSecretKey: {{controller.workflowManagerSecretKey}}

valkey:
  replicas: 3
  imageRegistry: registry.drycc.cc
  persistence:
    enabled: true
    size: 8Gi
    storageClass: topolvm-ssd

storage:
  imageRegistry: registry.drycc.cc
  # mainnode seaweedfs master & tipd
  mainnode:
    tipd:
      replicas: 3
      # persistence config
      persistence:
        enabled: true
        size: 15Gi
        storageClass: topolvm-ssd
    weed:
      replicas: 3
      # Storage replication type is XYZ:
      # X number of replica in other data centers
      # Y number of replica in other racks in the same data center
      # Z number of replica in other servers in the same rack
      defaultReplication: "000"
      # persistence config
      persistence:
        enabled: true
        size: 15Gi
        storageClass: topolvm-ssd
  metanode:
    tikv:
      replicas: 3
      persistence:
        enabled: true
        size: 15Gi
        storageClass: topolvm-ssd
    weed:
      replicas: 3
      persistence:
        enabled: true
        size: 15Gi
        storageClass: topolvm-ssd
  # datanode: seaweedfs volume
  datanode:
    weed:
      replicas: 4
      # persistence config
      persistence:
        enabled: true
        size: 100Gi
        storageClass: topolvm-ssd

imagebuilder:
  imageRegistry: registry.drycc.cc
  container_registries: |
    unqualified-search-registries = ["docker.io"]
    short-name-mode="permissive"
    [[registry]]
    prefix = "docker.io"
    location = "registry-1.docker.io"
    [[registry.mirror]]
    prefix = "docker.io"
    location = "hub-mirror.c.163.com"

timeseries:
  mainReplicas: 2
  nodeReplicas: 3
  imageRegistry: registry.drycc.cc
  limitsMemory: 256Mi
  limitsHugepages2Mi: 256Mi
  initDatabases: "monitor"
  persistence:
    enabled: true
    size: 8Gi
    storageClass: topolvm-ssd

logger:
  replicas: 3
  imageRegistry: registry.drycc.cc

monitor:
  grafana:
    imageRegistry: registry.drycc.cc
    {%- if global.certManagerEnabled == "true" %}
    passportUrl: "https://drycc-passport.{{global.managerDomain}}"
    {%- else %}
    passportUrl: "http://drycc-passport.{{global.managerDomain}}"
    {%- endif %}
    passportKey: {{monitor.grafana.passportKey}}
    passportSecret: {{monitor.grafana.passportSecret}}
    persistence:
      enabled: true
      size: 8Gi
      storageClass: topolvm-ssd
  telegraf:
    imageRegistry: registry.drycc.cc

prometheus:
  imageRegistry: registry.drycc.cc
  # The username and password to be used by the on-cluster database.
  username: "drycc"
  password: {{64|random_ascii}}
  prometheusServer:
    replicas: 1
    retention: 15d
    # persistence config
    persistence:
      enabled: true
      accessMode: ReadWriteOnce
      size: 10Gi
      storageClass: ""

registry:
  replicas: 3
  imageRegistry: registry.drycc.cc

registry-proxy:
  imageRegistry: registry.drycc.cc

gateway:
  acme:
    server: {{acme.server}}
    externalAccountBinding:
      keyID: {{acme.externalAccountBinding.keyID}}
      keySecret: {{acme.externalAccountBinding.keySecret}}
  # gateway apps
  apps:
    - name: drycc-builder
      port: 2222
      protocol: TCP
      services:
      - name: drycc-builder
        port: 2222
    - name: drycc-controller
      port: 80
      hostname: drycc.{{global.workflowDomain}}
      protocol: HTTP
      services:
      - name: drycc-controller-api
        port: 80
    - name: drycc-prometheus
      port: 80
      hostname: drycc-prometheus.{{global.workflowDomain}}
      protocol: HTTP
      services:
      - name: drycc-prometheus
        port: 9090
    - name: drycc-monitor-grafana
      port: 80
      hostname: drycc-monitor-grafana.{{global.workflowDomain}}
      protocol: HTTP
      services:
      - name: drycc-monitor-grafana
        port: 80

global:
  email: {{global.email}}
  clusterDomain: {{global.clusterDomain}}
  platformDomain: {{global.workflowDomain}}
  certManagerEnabled: {{global.certManagerEnabled}}
  gatewayClass: {{global.gatewayClass}}
  passportLocation: "off-cluster"
